---
---
/*
    Styles
*/
$turquoise-green: #b8d5b8;
$flame: #e55934;
$mikado-yellow: #ecc30b;
$charleston-green: #2e282a;
$tiffany-blue: #17bebb;

body {
  color: $turquoise-green;
  background-color: $charleston-green;

  a {
    color: $flame;
  }

  header {
    padding: 0.5em;
    background-color: $tiffany-blue;
    border-radius: 0.5em;
  }

  nav#leftnav {
    border: 1px solid $mikado-yellow;
    border-radius: 1em;
    //background-color: $turquoise-green;

    ul {
        padding-left: 1em;

      li {
        list-style: none;
        margin: 0;
      }
    }
  }

  // navigation collapsible items
  [data-toggle="collapse"] i:before{
    content: "\f146";
  }

  [data-toggle="collapse"].collapsed i:before{
      content: "\f0fe";
  }
}
